$theme-900: #03045e;
$theme-800: #023e8a;
$theme-700: #0077b6;
$theme-600: #0096c7;
$theme-500: #00b4d8;
$theme-400: #48cae4;
$theme-300: #90e0ef;
$theme-200: #ade8f4;
$theme-100: #caf0f8;

$theme-neutral-100: #f5f5f5;
$theme-neutral-200: #e5e5e5;
$theme-neutral-500: #808080;
